@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Raleway:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .gradient-text {
    background: linear-gradient(to right, theme('colors.g-color-1'), theme('colors.g-color-2'));
      -webkit-background-clip: text; 
      color: transparent;
    }
    
    .button{
        cursor: pointer;
        background: linear-gradient(to right, theme('colors.g-color-1'), theme('colors.g-color-2'));
        padding: 10px 20px;
        border-radius: 7px;
    }

    .button:hover{
      @apply opacity-70
    }

    .input-field{
      @apply bg-light-gray p-2.5 sm:p-2 rounded-md outline-none
    }

    .error{
      color: #fc4949;
      border-bottom: 4px solid #fc4949;
    }

    .loader-text{
      animation: loadingAnim 1s forwards;
      transition: 1s linear;
    }

    @keyframes loadingAnim {
      10%, 50%, 90% { opacity: 0.5}
      0%, 20%, 60%, 100%  { opacity: 1}
    }

  }