@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Raleway:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .gradient-text {
      background: linear-gradient(to right, theme('colors.g-color-1'), theme('colors.g-color-2'));
      -webkit-background-clip: text; 
      color: transparent;
    }
    
    .button{
        cursor: pointer;
        background: linear-gradient(to right, theme('colors.g-color-1'), theme('colors.g-color-2'));
        padding: 10px 20px;
        border-radius: 7px;
        box-shadow: 4px 4px 35px rgba(18, 24, 27, 0.19);
    }

    .button:hover{
      @apply opacity-70
    }

    .input-field{
      @apply bg-light-gray p-2 rounded-md outline-none
    }

  }